
@font-face {
  font-family: 'PTMono-Bold';
  src: url('~assets/fonts/PTMono-Bold/PTMono-Bold.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/PTMono-Bold/PTMono-Bold.woff') format('woff'),
       url('~assets/fonts/PTMono-Bold/PTMono-Bold.ttf') format('truetype'),
       url('~assets/fonts/PTMono-Bold/PTMono-Bold.svg#PTMono-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
