// Colors
$white: #fff;
$white-grey: #fcfcfc;
$white-grey-2: #f2f2f2;
$black: #333;
$green: #6ba462;
$green-500: rgba(129, 178, 122, 0.5);
$green-dark: #487141;
$grey: #999;

$color-brand: $green;
$color-brand-dark: $green-dark;

// Font sizes
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-21: 21px;
$fs-24: 24px;
$fs-25: 25px;
$fs-28: 28px;
$fs-32: 32px;
$fs-36: 36px;
$fs-48: 48px;
$fs-60: 60px;
$fs-72: 72px;
$fs-base: $fs-16;

// Font weights
$fw-reg: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-base: $fw-reg;

// Consts
$height-header: 80px;
$height-header-2: 60px;
$height-header-3: 50px;

// Sizes
$padding-sides-custom: 38px;
$padding-sides-custom-2: 20px;
$padding-sides-custom-3: 10px;

// Line heights
$lh-40: 40px;
$lh-29:  29px;
$lh-26:  26px;

// Breakpoints for max widths
$laptop: 1441px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

