.fs-14 {
  font-size: $fs-14;
}

.fs-16 {
  font-size: $fs-16 !important;
}

.fs-21 {
  font-size: $fs-21 !important;
}

.fs-28 {
  font-size: $fs-28;
}

.fw-reg {
  font-weight: $fw-reg;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-bold {
  font-weight: $fw-bold;
}

.pos-fixed {
  position: fixed;
}

.grey {
  color: $grey;
}

.green {
  color: $green;
}

.mb-40 {
  margin-bottom: 40px;
}

.round {
  border-radius: 50%;
}

.lh-26 {
  line-height: $lh-26;
}

.max-w-100 {
  max-width: 100%;
}
